body {
    background-color: black;
    font-family: arial;
    color: white;
}
h1 {
    color: orange;
    font-family: verdana;
}
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    bottom: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#result {
    font-weight: bolder;
    background-color: yellow;
}


    

